services:
  ems_server:
    container_name: ems_server
    build:
      # Sobe até a raiz do projeto (ems_system)
      context: ../../../
      # Aponta para o Dockerfile nesta pasta atual
      dockerfile: servers/ems/container/Dockerfile
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file:
      - .env
    restart: unless-stopped
    # Espera o banco subir (opcional, mas recomendado)
    depends_on:
      - postgres_ems_system # Referência ao container da infra
    networks:
      - ems_system_net

networks:
  ems_system_net:
    external: true